body {

	
	background: #ffffff;
	font-size: 15pt;

}




/*--- navigation bar ---*/

.navbar {
  background:#0000CC ;
	
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
	text-align: center;
}


.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}



/*--- navigation bar ---*/
.container{
	
	text-align: justify;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	
		
}

.chart{
	padding: inherit;
}


/*--Button--*/
.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: center;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

/*--Button End--*/

/*--Links--*/

#under{
	color: darkgray;
	text-align: center;
}